{% extends 'base.html' %}

{% block content %}
<div class="post">
    <h3 class="post__title">{{object.title}}</h3>
    <p class="post__description">{{object.description}}</p>
    <p class="post__likes">{{object.likes}} ❤️</p>
    <div class="post__under-block">
        <p class="post__author">{{object.author.username}}</p>
        <p class="post__date">{{object.date_created}}</p>
    </div>
    <form action="" method="post" class="like__form">
        {% csrf_token %}
        <button type="submit" class="like">👍🏻</button>
    </form>
    <div class="post__comments">
        {% for comment in comments %}
            <div class="post__comments_comment">
                <p class="post__comments_comment-author">{{comment.author.username}}</p>
                <p class="post__comments_comment-content">{{comment.content}}</p>
            </div>
        {% endfor %}
    </div>
    <a href="{% url 'comment' post.id %}" class="post__btn">Leave comment</a>
</div>
{% endblock %}